__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
.vscode/
.DS_Store
Thumbs.db
*.log
instance/
.env
.env.*
*.db
*.sqlite3
docker-compose.override.yml
*.pid
*.sock
var/lib/postgresql/
.pytest_cache/
.idea/
*.iml
htmlcov/
.coverage
.mypy_cache/
.dmypy.json
.pyre/
uploads/
